#sports {
    margin-top: 120px;
}

.sport-item:hover {
    border: 3px red solid;
    color:red;
}

.sport-icon {
    /*border: 1px red solid;*/
    padding: 20px;
}

.sport-hover-icon {
    border: 3px red solid;
    color:red;
}

.btn-outline-ws {
    color: rgb(242, 101, 34);
    border: 1px rgb(242, 101, 34) solid;
}

.btn-outline-ws:hover {
    color: white;
    background-color: rgb(242, 101, 34);
}