#sports {
    margin-top: 120px;
}

.sport-item:hover {
    border: 3px red solid;
    color:red;
}

.sport-icon {
    /*border: 1px red solid;*/
    padding: 20px;
}

.sport-hover-icon {
    border: 3px red solid;
    color:red;
}