.pd-container {
    opacity: 0.9;
    background-color: #2b2a29;
    margin: 110px auto 3% auto !important;
}

.player-image {
    border: 2px solid rgb(242, 101, 34);
}

.pb-100 {
    padding-bottom: 100px;
}